.shape{
    width: 250px;
}

.box-box{
    background-color: teal;
    box-sizing: content-box;
    border: 10Px solid red;
}

.box-box2{
    background-color: thistle;
    box-sizing: border-box;
    border: 10Px solid red;
}


.box-box3{
    background-color: tomato;
}

.box-box4{
    background-color: yellow;
}

.box-box5{
    background-color: lightslategrey;
}