body{
    background-color: lightgray;
}

h1{
    font-size: 30px;
    color: #20aefc;
}

h2{
color: #F8d132;
font-size: 20px;
}

.big{
font-size: 60px;

}

.uppercase{
text-transform: uppercase;
}

.big.uppercase{
color: black;
}

h1 span{
color: brown;
}